
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #333;
    overflow-x: hidden;
}
section {
	padding: 80px 0;
}
th, td {
    vertical-align: middle !important;
}
a {
      color: #3ec423;
}
a:hover{
      color: #3ec423;
}
a.text-green:focus {
  box-shadow: none;
}
.tex-center {
	text-align: center;
}
.pt-50 {
	padding-top: 50px;
}
.p-100 {
    padding: 100px 0;
}
.p-150 {
	padding: 150px 0;
}
.btn-green {
	color: #fff;
    background-color: #3ec423;
    border-color: #3ec423;
}
.btn-green:hover {
	color: #3ec423;
    background-color: #fff;
    border-color: #3ec423;
}
.btn-green-outline {
  color: #3ec423;
    background-color: #fff;
    border-color: #3ec423;
}
.btn-green-outline:hover {
  color: #fff;
    background-color: #3ec423;
    border-color: #3ec423;
}
.w-100 {
  width: 100%;
}
.text-red { color: #e90010; }
.text-green {color: #3ec423;}
:root {
  --main-color-green: #3ec423;
  --main-color-red: #e90010;
}
.box-shadow {
  box-shadow: 0 0 10px #eae4e4;
  }
.br-10 {
  border-radius: 10px;
}
img.title-img {    width: 25%;
    padding-bottom: 15px;}
/*header*/
.navbar {
	background: #f8faf7;
    box-shadow: 0 0 10px #e1e0e0;
	color: #333;
}
a.nav-link {
	color: #333;
	font-size: 15px;
	font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #3ec423;
}
.nav-item {
    padding-right: 15px;
}
a.nav-link ion-icon{
	color: #333;
}
.nav-link i {
    padding-right: 8px;
    font-size: 17px;
}
.navbar-brand {
  margin-right: auto;
}
.select_language a {
  color: #333;
}
.navbar-brand img {
  width: 65%;
}
.select_language .ct-language__dropdown li {
    padding: 10px 20px;
    margin: 5px 10px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #333;
}
.align-items {
  align-items: center; 
  }

/*banner*/
.banner {
	background: url(../images/baner-bg.png);
	/*background-position: bottom;*/
  background-size: contain;
  background-repeat: no-repeat;
}
.banner-text h1 {
	font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.3;
}
.baner-image {
	text-align: center;
	padding: 15px;
}
.search-box {
	background: #fff;
    box-shadow: 0 0 10px #aaa6a6;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 30px;
}
.input-group-text {
	background: #3ec423;
	border: 1px solid #3ec423;
	color: #fff;
}
.location-search {
    width: 80%;
    margin: 0 auto;
}
.form-control.location-box {
  padding: 10px;
}
/*Choose Page*/ 
.section-title h2 { display: block;
font-size: 35px; font-weight: 800; }
.choose-box img { width: 40%; }
.choose-box { text-align: center; margin: 25px; }
.choose-title {font-size: 20px;
    padding: 20px 0;
    font-weight: 600;
}

/*works section*/
.works {
	background: url(../images/work-bg.png);
    background-size: cover;
    background-position: bottom;
}
.img-bg {
    background: #b3e5a8;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}
.works-list{ text-align: center; }
.works-list ul {
  padding-inline-start: inherit;
}
.works-list ul li {
    list-style: none;
    display: inline-block;
    margin: 65px 0px 30px;
    /*width: 19%;*/
    position: relative;
    padding: 0px 20px;
    vertical-align: top;
}
.works-list ul li span {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 7px solid #e5f3e2;
    position: relative;
    margin: 0px 0px 23px;
    border-radius: 100%;
    background: #b3e5a8;
    text-align: center;
}
.works-list ul li span img
{
    margin-top: 15%;
    width: 60%;
}
.works-list ul li h6 {
    margin: 0px;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 16px;
}
.works-list ul li:before {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    color: #e4e4e4;
    right: -30px;
    top: 10%;
    font-size: 50px;
    margin: 7px 0px 0px;
}
.works-list ul li:last-child:before {
 display: none;
}

/*slider carousel*/
.client-logo {
    border-top: 2px solid #f8faf7;
    border-bottom: 2px solid #eee;
    padding: 0px 0;
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*testimonial*/
.testimonial{
    margin: 25px 15px;
    padding-right: 30px;
}
.testimonial .description{
    position: relative;
    font-size: 16px;
    line-height:26px;
    color: #696969;
    padding: 25px 20px;
    border:1px solid #d3d3d3;
}
.testimonial .description:after{
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border-style: none none solid solid;
    border-width: 0 0 1px 1px;
    border-color: #d3d3d3;
    position: absolute;
    bottom: -11px;
    left: 6%;
    transform: skewY(-45deg);
}
.testimonial .pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin:15px 0px;
    display: inline-block;
    float: left;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .testimonial-title{
    display: inline-block;
    text-transform: capitalize;
    margin-top: 35px;
    float: left;
    padding: 0 10px;
}
.testimonial .testimonial-title span{
    color: #3498db;
    display: block;
    font-size:17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.testimonial .testimonial-title small{
    display: block;
    font-size:14px;
}
.owl-theme .owl-controls{
    position: absolute;
    bottom: 10%;
    right: 10px;
}
.owl-theme .owl-controls .owl-buttons div{
    border-radius: 0;
    background:#3ec423 !important;
    opacity: 1 !important;
    padding: 3px 8px;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: FontAwesome; font-weight: 900;
    color: #fff;
}
.owl-next:before{
    content: "\f054";
}
@media only screen and (max-width: 767px){
    .testimonial .description{
        font-size: 14px;
    }
    .testimonial .description:after{
            left: 14%;
    }
}
@media only screen and (max-width: 479px){
    .owl-theme .owl-controls{
        bottom: 0;
    }
    .testimonial .description:after{
        left: 18%;
    }
}

.testimonial-right
{
    padding-left: 100px;
    border-left: 1px solid #eee;
}

/*counter section*/
.counter {
    background: url(../images/counter-bg.png);
    padding: 50px 0;
}
.counter-box img {
    padding-bottom: 10px;
    width: 55px;
}
.counter-box h4 {
    font-weight: 700;
}
.counter-box p.nums {
    font-size: 30px;
    font-weight: 800;
}

/*above footer*/
.image-box {
    margin: 10px;
}
.image-box img {
    border: 3px solid #f8faf7;
    border-radius: 7px;
    margin-bottom: 10px;
}
h4.title {
    padding: 7px 0;
    font-weight: 600;
}

/*footer*/
.footer
{
    background: #3ec423;
    color: #fff;
    padding: 0px;
}
.top-footer {
    padding: 50px;
}
.footer-widget h4:before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    width: 50%;
}
ul.footer-menu {
    padding-left: 0px;
    margin-top: 20px;
}
ul.footer-menu li {
    list-style: none;
    padding-bottom: 10px;
}
ul.footer-menu li a {
    color: #fff;
}
ul.footer-menu li i { padding-right: 15px;  }
ul.social-links {
    list-style: none;
    display: flex;
    padding-left: 0;
}
ul.social-links li{
    background: #fff;
    margin-right: 15px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
ul.social-links li i {  padding: 9px;
    color: #3ec423; }
.bottom-footer {
    padding: 15px;
    border-top: 1px solid #fff;
}

/*signin form*/
.modal-dialog {
    margin-top: 4%;
}
form.signin-form {
    padding: 40px;
}
form.signin-form .form-control {
    margin-bottom: 26px;
    padding: 15px;
    border: 1px solid #eee;
}
.form-control {
    margin-bottom: 26px;
    padding: 15px;
    border: 1px solid #eee;
}
.btn-login i{
    padding-left: 15px;
}
.navbar-dark .navbar-nav .nav-link.active { color: #3ec423; }
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}
.verification-box {
    width: 15%;
    display: inline-block;

    /*padding-left: 65px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 300px;
    min-width: 220px;
    margin: auto;
    margin-left: 100px;*/
}

/*Sign up Profile Upload*/
.avatar-upload {
  position: relative;
  max-width: 160px;
  margin: 10px auto;
    align-items: center;
    text-align: center;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  left: 38px;
    bottom: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #e90010;
  border: 3px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 130px;
  height: 130px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #3ec423;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*end Signup Profile*/

:placeholder {
    color: #eee !important;
}

/*card page*/
 .card-box{
    cursor: pointer;
    margin-top: 25px;
    box-shadow: 0 0 10px #b2aeae;
    border-radius: 10px;
}

/*radio btn styles*/
.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #3ec423;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3ec423;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3ec423;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

/*profile page*/
.nav-pills {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.nav-pills > li {
  float: none;
  display: inline-block;
}
.profile-baner {
    background-image: url(../images/profile-banner.png);
}
.nav-pills {
  border-bottom: 1px solid #eee;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3ec423;
 }
select.form-control:not([size]):not([multiple]) {
    height: auto;
}
 .order-btm-text {
  text-align: left;
    padding-top: 15px;
 }
.order-box {
  box-shadow: 0 0 10px #eae4e4;
  border-radius: 10px;
  display: flex;
  margin-top: 20px;
}
.order-bottom {
  border-top: 2px dotted #bab8b8;
}

/* order Timeline  Tracker */
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: contents;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #3ec423;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid #f8faf7;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    /*left: 50%;*/
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #3ec423;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: #f8faf7;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.1em;
}


.favourites {
   box-shadow: 0 0 10px #eae4e4;
  border-radius: 10px;
}
.fav-slider .owl-controls{
  position: unset;
    bottom: 10%;
    right: 10px;
}

/*inc dec*/
.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: bottom;
  padding: 4px 0;
  /*background: #eee;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}
label {
    width: 100%;
}
.radio {
  cursor: pointer;
}
.radios input[type=radio] {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
 /* width: 1.4em;
  height: 1.4em;*/
  position: relative;
  margin-right: 10px;
  /*top: -0.2em;
  margin-right: 1em;*/
  /*vertical-align: top;*/
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

/* form #input-wrap {
  margin: 0px;
  padding: 0px;
} */

input#number, input#number1 {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.coupon-box {
height: 38px;
    border: 1px solid #eee;
    background: #eee;
    border-radius: 4px;
    margin-right: 3%;
}

i.select-item {
  position: absolute;
    float: right;
    margin-bottom: 10px;
    display: inherit;
    background: #3ec423;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    right: 20px;
    top: 10px;
}
.plus-icon {
  background: #3ec423;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
        font-size: 10px !important;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-right: 10px; 
}
.table-cart {
  border: 1px solid #eee;
}
.table td, .table th {
  border: 1px solid #eee;
}

/*Store Page*/
.filter-top 
{
  display: flex;
  align-items: baseline;
  vertical-align: middle;
}
.filter-top h6 {
  padding-right: 15px;
}
.section.portfolio .filters {
  margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: fit-content;
}
.section.portfolio .filters ul {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section.portfolio .filters ul li {
  list-style: none;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    position: relative;
}
.section.portfolio .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 60px);
  position: absolute;
  height: 2px;
  background: #333;
  transition: width 350ms ease-out;
}
.section.portfolio .filters ul li:hover {
  background: #3ec423;
    color: #fff;
    border-radius: 6px;
}
.section.portfolio .filters ul li.active {
    background: #3ec423;
    color: #fff;
    border-radius: 6px;
}
.section.portfolio .filters-content {
  margin-top: 50px;
}
.section.portfolio .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
.section.portfolio .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}
.section.portfolio .filters-content .item {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  min-height: 300px;
  max-height: 300px;
}
.filter-item {
  margin-top: 15px;
}
.section.portfolio .filters-content .item .p-inner {
  padding: 15px;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}
.section.portfolio .filters-content .item .p-inner h5 {
  font-size: 17px;
  font-weight: 600;
}
.section.portfolio .filters-content .item .p-inner .cat {
  font-size: 13px;
      overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.section.portfolio .filters-content .item img {
  /*width: 50%;
  padding: 10px;
  margin-top: 5%;*/
  min-height: 170px;
  max-height: 180px;
      width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.overlay {
  position: absolute;
  background: #3ec423c4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  text-align: center;
  opacity: 0;
}
.overlay-btn {
  top: 45%;
  left: 35%;
  position: absolute;
}
.overlay-btn a{
  background: #fff;
  padding: 8px 20px;
  text-align: center;
  border-radius: 8px;
}
.overlay-btn:hover a {
  background: transparent !important;
  border: 1px solid #fff;
  color: #fff !important;
  text-decoration: none;
}
.section.portfolio .filters-content .item:hover .overlay {
  opacity: 1;
}

/*Store View*/
.store-item {
  text-align: center;
}
.store-item img {
  width: 40%;
  margin-bottom: 15px;
}

.expanding-search-form {
  position: relative;
  top: 40%;
  /*left: 35%;*/
  display: inline-block;
  height: 34px;
  width: auto;
}
.expanding-search-form .search-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*border: 1px solid #999;*/
  z-index: 2;
  cursor: pointer;
  border-radius: 3px;
  transition: 250ms all ease-in-out;
}
.expanding-search-form .search-input {
  position: relative;
    position: relative;
    top: 0;
    display: inline-block;
    height: 35px;
     width: 350px; 
    float: left;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #e0dcdce8;
    font-size: 16px;
    border-bottom: 1px solid #e0dcdce8;
    z-index: 2;
    box-shadow: none;
    border-radius: 0;
    transition: 250ms all ease-in-out;
}
.expanding-search-form .search-input::placeholder {
  padding-left: 20px;
}
.expanding-search-form .search-input:focus {
  width: 300px;
  outline: none;
}
.expanding-search-form .search-input:focus + .search-label {
  border-color: #2299ff;
}
.expanding-search-form .button {
  position: relative;
    top: 0;
    display: inline-block;
    float: left;
    padding: 1px 10px;
    color: #fff;
    border: 1px solid #e0dcdce8;
    background-color: #3ec423;
    text-align: center;
    transition: 250ms all ease-in-out;
}
/*.expanding-search-form .button:hover {
  background-color: #0080ee;
}*/
.expanding-search-form .search-dropdown {
  position: relative;
  top: 0;
  display: inline-block;
  float: left;
  /*padding: 3px;*/
}
.expanding-search-form .search-input:placeholder {
  padding: 10px;
}
.expanding-search-form .search-dropdown.open .dropdown-menu {
  display: block;
}
.expanding-search-form .dropdown-toggle {
  height: 35px;
    font-size: 15px;
    line-height: 28px;
    border-radius: 2px;
    z-index: 3;
    font-weight: 500;
    background: #fff !important;
}
.expanding-search-form .dropdown-menu {
  position: absolute;
  top: calc(100% - 1px);
  display: none;
  margin: 0;
  padding: 5px;
  list-style: none;
  background-color: #fff;
  /*border: 1px solid #999;*/
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  z-index: 3;
  transition: 250ms all ease-in-out;
}
.expanding-search-form .dropdown-menu > li > a {
  display: block;
  padding: 4px 12px;
  color: #5d5e5f;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  border-radius: 2px;
  transition: 250ms all ease-in-out;
}
.expanding-search-form .dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #5d5e5f;
}
.expanding-search-form .dropdown-menu > .menu-active {
  display: none;
}
.expanding-search-form .search-button {
  height: 35px;
  z-index: 3;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.expanding-search-form .search-button .icon {
  font-size: 20px;
}

/*product slider*/
.product-outer {
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.products h5 {
  font-size: 16px;
    font-weight: 600;
}
.products h6 {
    font-size: 14px;
    font-weight: 600;
}
.products p {
    font-size: 12px;
}
.products .product-img {
 
  display: inline-block;
}  
.products .product-img img{
   width: 60%;
} 
.product-carousel .owl-controls{
  position: unset;
}
.product-carousel .owl-prev {
    float: left;
    margin-top: -12% !important;
    margin-left: -3% !important;
}
.product-carousel .owl-next{
  float: right; 
  margin-top: -12% !important;
  margin-right: -3% !important;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 3px 8px !important; 
}
.carousel-top {
    border-bottom: 1px solid #ece4e4;
    padding: 10px 0px 0px 20px;
}
.carousel-top p{
  margin-bottom: 0;
}
.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
.nav-tabs .nav-link.active {
  border: 0;
}
#tabs li.nav-item {
  padding-right: 0px !important;
}
#tabs li.nav-item a:hover {
  border: 0px solid !important;
  color: #3ec423;
    font-weight: 600;
}
#tabs li.nav-item a.active {
  font-size: 14px;
  text-transform: capitalize !important;
    color: #3ec423;
    font-weight: 500;
    border-bottom: 2px solid;
}
#tabs li.nav-item a {
  font-size: 13px;
  text-transform: capitalize !important;
}
.tab-pane {
  padding: 20px;
}
.product-item:hover .overlay {
  opacity: 1;
}
a.view-link {
      border-left: 1px solid;
    padding: 0 20px;
}
a.view-link i {
  padding-left: 10px;
}
/*search page */
.filter-box {
    border: 1px solid #ddd;
    background: #e2e2e2;
    border-radius: 10px;
}
.filter-header {
  background: #3ec423;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
}
.filter-header p {
  margin-bottom: 0px;
}
.filter-block {
  padding: 15px;
}
.filter-block h5 {
  font-weight: 600;
  font-size: 18px;
}
.filter-block h6 {
  font-size: 15px;
  padding: 10px;
}
form.filter-checks {
  padding-left: 20px;
}
/* The container */
.filter-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.filter-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.filter-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filter-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter-checkbox input:checked ~ .checkmark {
    background-color: #3ec423;
}

/* Create the checkmark/indicator (hidden when not checked) */
.filter-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.filter-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.filter-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.search-right {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.has-botom-border {
  border-bottom: 1px solid #e2dfdf;
}
form.select-box select {
  background: #e9eceb !important;
    padding: 3px 15px !important;
    border: 0px solid !important;
    border-radius: 5px !important;
    color: #4e5050 !important;
}
.search-content .item {
    text-align: center;
    cursor: pointer;
    position: relative;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.search-content .item img {
    width: 50%;
    padding: 10px;
    margin-top: 5%;
}
.search-content .item .p-inner {
    padding: 20px 20px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}
.search-content .overlay-btn {
  left: 15%;
    top: 30%;
}
.search-content .overlay-btn-dark {
  left: 15%;
    top: 30%;
}
.search-content .item .p-inner h5 {
    font-size: 17px;
    font-weight: 600;
}
.search-content .item .p-inner .cat {
    font-size: 13px;
}
.search-content .item:hover .overlay {
  opacity: 1;
}
.search-content a.overlay-btn {
    background: transparent;
    padding: 8px 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 13px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}
.search-content a.overlay-btn:hover {
  background: #fff;
  color: #333;
}
.search-content a.overlay-btn-dark {
    background: #fff;
    padding: 8px 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 13px;
    margin-top: 30%;
    position: absolute;
    text-decoration: none;
}
.search-content a.overlay-btn-dark:hover {
  background: transparent;
  color: #fff;
  border: 1px solid;
}
form.store-dropdown select {
  border: 0;
    padding: 5px 10px;
    margin-left: 10px;
    background: #d4d3d1;
    font-weight: 600;
}
.text-light {
    color: #abadaf!important;
}
a.like {
background: #3ec423;
    padding: 4px;
    margin-left: 10px;
    color: #fff;
}
a.unlike {
  background: #c44823;
    padding: 4px;
    margin-left: 10px;
    color: #fff;
}
.info-icon {
  padding-left: 10px; 
  font-size: 15px;
}
.search-bottom {
  margin-top: 60px;
  border: 1px solid #eee;
}
.search-bottom p {
  font-weight: 600;
}
/* product popup*/
.maxi {
  width: 360px;
    height: 350px;
    object-fit: none;
    box-shadow: none !important;
    border: 1px solid #ebe9e9;
    border-radius: 10px;
}
.mini {
  text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.mini img {
  width: 70px;
  border: 1px solid #e0d9d9; 
}
.xzoom-thumbs {
  margin-top: 10px;
}
.product-discription p {
  font-size: 13px;
    padding-top: 15px;
}
.product-discription h5 {
  font-weight: 600;
}
.cart-btn {
  background: #3ec423;
    color: #fff;
    padding: 4px 10px;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 13px;
}
.cart-btn i {
  padding-left: 10px;
}
.cart-btn:hover {
  color: #fff;
}
.fav-icon {
  background: red;
    margin-left: 10px;
    padding: 5px 7px;
    border-radius: 5px;
}
.icon-wishlist {
    cursor: pointer;
    width: 22px;
    height: 21px;
    background: url(../images/heart-outline.svg);
}
 .icon-wishlist.in-wishlist {
    opacity: 1;
    animation-name: wishlist-ani;
    animation-duration: 1000ms;
    background: url(../images/fill-heart.svg);
}
.product-tab {
  padding: 25px;
}
.product-tab .nav-link{
  font-weight: 600;
}
.product-tab .nav-link.active {
  color: #3ec423;
}
.product-tab .nav-link:hover {
  border: 0;
  color: #3ec423;
}
.tab-content p {
  font-size: 13px;
  margin-top: 15px;
  line-height: 1.7;
}
.tab-content li {
  font-size: 13px;
  line-height: 1.7;
}

/* refer page*/
.refer-right{
  background: #f0f2f3;
  padding: 20px;
}
.bordered {
  border: 1px solid #d8d0d0;
  border-radius: 10px;
  padding: 10px 20px;
}
.btn-copy {
  color: #fff;
  background-color: #3ec423;
  border-color: #3ec423;
  padding: 5px 15px;
  border-radius: 5px;
}
.small-text {
  font-size: 12px;
}
.f-bg {
  background: #2323ab;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
}
.t-bg {
  background: #4a4ad6;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.i-bg {
  background: #222223;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.l-bg {
  background: #3f3fc3;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.mail-icon{
      width: 7%;
    padding-right: 10px;
}
.progress{height: 10px;}
.baner-tab .nav-tabs .nav-link.active {
  color: #3ec423;
    font-weight: 600;
    border-bottom: 1px solid;
}
.baner-tab p {
  margin-bottom: 0px !important;
}

/*=====================================================
Login CSS
=====================================================*/

.login {
    position: relative;
}

.login-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(204, 43, 94,1), rgba(117, 58, 136,.6));
}

.login-content {
    position: relative;
    padding: 100px 0;
}

.login-content-inner {
    max-width: 400px;
    margin: 0px auto;
    background: #fff;
    padding: 30px;
}

.login-head {
    text-align: center;
}

.forgot-link {
    margin-top: 15px;
    display: inline-block;
    font-size:13px;
}

.log-txt {
    margin-top: 10px;
    margin-bottom: 0;
}

/*  custom css*/
.intl-tel-input {
    width: 1%;
    float: left;
}

.phone-number {
    width: 85%!important;
    float: left!important;
    margin: 0 !important;
    margin-left: 11% !important;
    border-left: 0 !important;
}

.no-margin {
    margin: 0;
}
.is-shown.hover:hover a {
    color: #000 !important;
    }

    .m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.p-t-0 {
    padding-top: 0;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

h5 {
    line-height: 1.5em;
}

.main-menu.menu-dark .navigation>li.active {
    border-left: 4px solid #11a030;
}

.common-tab.nav-tabs .nav-item {
    margin: 0;
    float: none;
    text-align: center;
}

.common-tab.nav-tabs .nav-item .nav-link {
    padding: 12px;
    border-radius: 0;
    border: 0;
    transition: background .2s ease-in;
}

.common-tab.nav-tabs .nav-item .nav-link:hover,
.common-tab.nav-tabs .nav-item .nav-link:focus {
    background-color: #11a030;
    color: #fff;
}

.common-tab.nav-tabs .nav-item .nav-link.active {
    border-radius: 0;
    background-color: #11a030;
    color: #fff;
}

.pending-dp-img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.41);
    margin: 0 auto 30px;
}

.card-txt {
    color: #fff;
    margin-bottom: 7px;
    /*font-size: 13px;*/
}

.com-img {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 25px -7px rgb(255, 109, 0);
    position: relative;
}

.order-img {
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 25px -7px rgb(255, 109, 0);
    position: relative;
}
.modal-backdrop {
    background-color: #00B5B8;
}
.easy-autocomplete input {
      border: 1px solid #eee !important;
}
/*.modal-dialog {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .3);
}*/

.pending-block {
    margin-bottom: 20px !important;
    position: relative;
}

.del-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 23px;
}

.order-modal-top {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
    padding: 20px;
}

.dis-left {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-bottom: 0;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2)
}

.dis-left::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.dis-left::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.dis-left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.dis-right {
    height: 400px;
}

.dispatcher {
    padding-bottom: 30px;
}

.batch {
    margin-bottom: 10px;
    display: inline-block;
    /*background-color: #1DE9B6;*/
    border-color: #fff;
    background-color: #fff;
    color: #11a030;
}

.add-btn {
    color: #fff !important;
}

.table-btn {
    margin-right: 0 !important;
    display: inline-block;
    padding: 3px;
}

.table-btn i {
    font-size: .9em;
}

#read-only-stars img {
    height: 9px;
}

.table-prof-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 3px 15px -2px rgba(255, 109, 0, 0.68);
}

.rating-symbol {
    color: #11a030;
    font-size: 12px;
    margin-right: 2px;
}

